name: easy_travel
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  http: ^1.5.0
  sqflite: ^2.4.2
  path: ^1.9.1
  shared_preferences: ^2.5.3
  flutter_secure_storage: ^9.2.4
  intl: ^0.20.2

dev_dependencies:
  flutter_test:  
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
